<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>


<h2>Students</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
    </tr>

    <tr th:each="student : ${studentsList}">
        <td th:utext="${student.id}">..</td>
        <td th:utext="${student.firstName}">..</td>
        <td th:utext="${student.middleName}">..</td>
    </tr>

</table>
</body>
</html>